html{
    box-sizing: border-box ;

}
*, *::before, *::after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 400px;
   border: 3px solid aquamarine;
    background-color: black;
    color: white;
}
.calc-button-row
{
   
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0.5%;
}
.calc-button{
    background-color: #d8d9db;
    color: black;
    border: none;
    font-size: 35px;
    height: 100px;
    flex-basis: 24.5%;
}
.screen{
    text-align: right;
    font-family: 'Times New Roman', Times, serif;
    padding: 20px 5px;
    font-size: 35px;
}
.calc-button:hover{
    background-color: #bbbcbe;
}
.calc-button:active{
    background-color: #bbbcbe;
}
.double{
    flex-basis: 49.7%;
}
.triple{
    flex-basis: 74.7%;
}
.calc-button:last-child{
    background-color: #df974c;

}
.calc-button:last-child:hover{
    color: #dfb07e;
}